.whyme_block {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 0px 25px 100px 25px;
    width: 400px;
    height: 225px;
    font-family: inter;
    font-size: 18px;
    padding: 25px;
}

@media screen and (max-width: 1200px) {

    .whyme_block {
        width: 298px;
        height: 188px;
        padding: 0px;
    }

    .whyme_block img {
        height: 64px;
        width: 56px;
    }
}
