.header_td_api_info {
    margin-right: 40px;
    width: 175px;
    height: 63px;
    border-radius: 5px;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 10px;
}


.header_td_api_info_text {
    font-family: inter;
    font-size: 10px;
    color: black;
    /* opacity: 40%; */
    margin-bottom: 5px;
}

#header_td_api_info_text_black {
    font-size: 14px;
    color: black;
}

#header_td_api_info_text_green {
    font-size: 14px;
    color: #8AC540;
}
